source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget FSharp.Text.RegexProvider ~> 0.0.7

nuget Endorphin.Core.NationalInstruments

github WarwickEPR/Endorphin.Core src/Units.fs
github WarwickEPR/Endorphin.Core src/Choice.fs
github WarwickEPR/Endorphin.Core src/String.fs
github WarwickEPR/Endorphin.Core src/Byte.fs

group Build
    source https://nuget.org/api/v2

    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx
